.bi-star-fill {
    color: #ffc107;
  }
  
.bi-star, .bi-star-fill, .bi-heart, .bi-heart-fill {
    font-size: 1.3em;
}

.bi-star:hover, .bi-star-fill:hover, .bi-heart:hover, .bi-heart-fill:hover {
    cursor: pointer;
}
